<%include ../views/header %>



    
        <!-- Page Content -->
          <section>
              <div class="container">
                  <div class="row">
                      <div class="center">
                          <form method="POST" >
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" type="email">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input name="password"  class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                              </div>
                              <div class="form-group ">
                                <label for="example-text-input">First Name</label>
                                <div>
                                    <input name="firstname" class="form-control" type="text" value="" id="example-text-input">
                                </div>
                              </div>
                              <div class="form-group ">
                                <label for="example-text-input">Last Name</label>
                                <div>
                                    <input name="lastname" class="form-control" type="text" value="" id="example-text-input">
                                </div>
                              </div>
                              <button type="submit" class="btn m-t-30 mt-3">Register</button>
                          </form>
                      </div>
              </div>
          </section>
          <!-- end: Page Content -->
      </div>
      <!-- end: Wrapper -->

    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

