<!DOCTYPE html>
<%include ../views/header %>
        <!-- end: Header -->

        <!-- Page title -->
        <section id="page-title" data-parallax-image="images/parallax/5.jpg">
            <div class="container">
                <div class="page-title">
                    <h1>Sponsors</h1>
                    <span>Chinese International Volunteer Organization (CIVO)</span>
                </div>

            </div>
        </section>
        <!-- end: Page title -->

        <!-- Page Content -->
        <section class="sidebar-right">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-9">
                      <div class="carousel" data-items="6" data-items-sm="4" data-items-xs="3" data-items-xxs="2" data-margin="20" data-arrows="false" data-autoplay="true" data-autoplay-timeout="3000" data-loop="true">
                          <div>
                              <a href="https://www.yellowlondontaxi.ca/"><img alt="" src="/images/clients/1.png"> </a>
                          </div>
                          <div>
                              <a href="https://bluekeyedu.com"><img alt="" src="/images/clients/2.png"> </a>
                          </div>
                          <div>
                              <a href="#"><img alt="" src="/images/clients/3.png"> </a>
                          </div>
                          <div>
                              <a href="#"><img alt="https://londonchinese.ca/portal.php?mod=view&aid=40064" src="/images/clients/4.png"> </a>
                          </div>
                          <div>
                              <a href="#"><img alt="" src="/images/clients/5.png"> </a>
                          </div>
                          <div>
                              <a href="https://www.realtor.ca/agent/1949546/dongmei-bai-519-york-street-london-ontario-n6b1r4"><img alt="" src="/images/clients/6.jpg"> </a>
                          </div>

                      </div>
                      <p><strong>Thank you to all our sponsors for supporting CIVO from 2018 to 2019. Your support has helped CIVO to provide youth with the opportunity to make a positive impact on the world and the local community.
                      </strong></p>
                        <div class="space"></div>

                      <h3 class="text-info strong" ><strong>How to be our sponsors</strong></h3>
                      <h5>
To support the Chinese International Volunteer Organization, please consider donating. We appreciate all your help and support!
To become a sponsor of Chinese International Volunteer Organization, please email us with the subject line “[Organization Name] Sponsorship Request.” Our team would be happy to meet with you to discuss potential sponsorship opportunities and what CIVO can offer you.</h5>



                    </div>
                    <!-- Sidebar-->
                    <div class="sidebar sidebar-modern col-lg-3">

                        <!--widget newsletter-->
                        <div class="widget  widget-newsletter">

                            <form id="widget-search-form-sidebar" action="search-results-page.html" method="get" class="form-inline">
                                <div class="input-group">
                                    <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages...">
                                     <div class="input-group-append">
    <span class="input-group-btn">
                  <button type="submit" id="widget-widget-search-form-button" class="btn"><i class="fa fa-search"></i></button>
                  </span>
  </div> </div>
                            </form>
                        </div>
                        <!--end: widget newsletter-->

                        <!--Tabs with Posts-->
                        <div class="widget">                         <div class="tabs">
                                <ul class="nav nav-tabs" id="tabs-posts" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tabs-posts-content">
                                    <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/5.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Suspendisse consectetur fringilla luctus</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 6m ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/8.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Fringilla luctus Lorem ipsum dolor sit amet</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/8.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Fringilla luctus Lorem ipsum dolor sit amet</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Consectetur adipiscing elit</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: Tabs with Posts-->

                        <!-- Twitter widget -->
                        <div class="widget widget-tweeter" data-username="envato" data-limit="2">
                            <h4 class="widget-title">Recent Tweets</h4>
                        </div>
                        <!-- end: Twitter widget-->



                    </div>
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->


        <!-- Footer -->
<%include ../views/footer %>
        <!-- end: Footer -->

    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>
